DATABASE="host=localhost user=emailn_dev password=d4#rt6 dbname=emailn_dev port=5432 sslmode=disable"
URLKEYCLOAK="http://localhost:8080/realms/{name}"
EMAIL_SMTP="smtp.gmail.com"
EMAIL_USER="{email}"
EMAIL_PASSWORD="{password}"